/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color:slategrey;
  color:white;
}

h1 {
  font-family: verdana,arial,sans-serif;
}

#gameButtonArea > button{
  width:200px;
  height:200px;
  margin:2px;
  
}

.hidden{
  display:none;
}


#square1{
  background: lightgreen;
}
#square1:active, #square1.lit{
  background: green;
}


#square2{
  background: lightblue;
}
#square2:active, #square2.lit{
  background: blue;
}


#square3{
  background: Indianred;
}
#square3:active, #square3.lit{
  background: red;
}


#square4{
  background: lightsalmon;
}
#square4:active, #square4.lit{
  background: yellow;
}

#square5{
  background: Violet;
}
#square5:active, #square5.lit{
  background: Darkviolet;
}

#square6{
  background: snow;
}
#square6:active, #square6.lit{
  background: silver;
}